@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@0,500;0,700;1,400&display=swap");

/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

.container {
  padding: 0 24rem;
  width: 100%;
}

/* HEADER */
.header {
  margin: 5.4rem 0;
}

.header h1 {
  font-family: "Playfair Display", serif;
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.header-text {
  width: 60%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 3.6rem;
}

.header-text img {
  margin-top: 0.5rem;
}

.header-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  font-style: italic;
  margin-left: 1rem;
}

.header-image {
  width: 100%;
}

/* Main Section */
.main {
  display: flex;
  flex-direction: row-reverse;
}

/* Section Aside */
.aside {
  flex: 2;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  margin-left: 10%;
  padding: 2rem;
  /* align-items: center; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-height: 400px;
}

.aside .summary-icon {
  width: 3.6rem;
}

.summary {
  display: flex;
  margin: 2rem;
}

.summary .yields {
  color: #f2994a;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}

.summary-text {
  margin-left: 1rem;
}

.summary-text p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.summary-text h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
}

/* Main section */
.section {
  flex: 8;
}

.section-header {
  font-family: "Playfair Display", serif;
  font-size: 3.6rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 2.4rem;
}

/* Ingredients */
.food-type {
  margin-bottom: 3.6rem;
}

.section-subheader {
  font-family: "Playfair Display", serif;
  font-size: 2.4rem;
  font-weight: 400;
  font-style: italic;
  color: #333;
  margin-bottom: 1.6rem;
}

.checkboxes {
  display: flex;
  margin-bottom: 1.6rem;
}

input[type="checkbox"] {
  margin-top: 0.5rem;
}

.checkboxes label {
  font-family: "Montserrat", serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 1.6rem;
}

/* Instructions */
table {
  margin-bottom: 3.6rem;
}

table td {
  font-family: "Montserrat", serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1.6rem;
  line-height: 2.4rem;
  vertical-align: top;
}

.index div {
  padding: 1.6rem;
  text-align: center;

  background-color: #f2994a;
  border-radius: 10px;
  font-family: "Playfair Display", serif;
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
}

.source {
  margin-bottom: 2.4rem;
}
.source p {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.6rem;
  color: #bdbdbd;
}

.footer {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  color: #ccc;
  background-color: #333;
  /* width: 100vw; */
  padding: 1.6rem;
}

/* MEDIA QUERY */
@media (max-width: 1200px) {
  .container {
    padding: 0 10rem;
    width: 100%;
  }
  .aside {
    flex: 3;
  }
  .section {
    flex: 7;
  }
}

@media (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .aside {
    border: none;
    box-shadow: none;
    margin: 0;
    margin-bottom: 3.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .summary.restaurant {
    grid-column: 1/4;
  }
}

@media (max-width: 600px) {
  html,
  body {
    font-size: 50%;
  }
  .container {
    padding: 0 1rem;
    width: 100%;
  }
  .header-text {
    width: 100%;
  }
}
